$light-red: #E74C3C;
$red: #C0392B;

$light-blue: #3498DB;
$blue: #2980B9;
$sky-blue: #5BC0DE;

$light-green: #2ECC71;
$green: #27AE60;

$light-orange: #E67E22;
$orange: #D35400;

$light-grey: #95A5A6;
$grey: #7F8C8D;

